@font-face {
  font-family: GTEestiPro;
  src: url("../../fonts/GTEestiProText-Book.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: GTEestiPro;
  src: url("../../fonts/GTEestiProText-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: GTEestiPro;
  src: url("../../fonts/GTEestiProDisplay-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: GTEestiPro;
  src: url("../../fonts/GTEestiProText-Bold.otf") format("opentype");
  font-weight: 700;
}
